<!-- Cabecera de la página, con un estilo translúcido -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Texto en la cabecera con el título de la página, utilizando un color de advertencia -->
    <ion-text color="warning">
      <h5 style="text-align: center; font-size: small;">RECUPERACIÓN DE CONTRASEÑA</h5>
    </ion-text>
  </ion-toolbar>
</ion-header>

<!-- Contenido principal de la página -->
<ion-content>
  <!-- Contenedor del logo central de la página -->
  <div class="logo-container">
    <div class="logo">
      <!-- Imagen del logo, almacenada en los assets del proyecto -->
      <img src="assets/alien.svg" class="logo"/>
    </div>
  </div>
  <!-- Contenedor del formulario de recuperación de contraseña -->
  <div class="login-container">
    <ion-list>
      <!-- Campo de entrada para que el usuario ingrese su correo electrónico -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="email" type="email" required></ion-input>
      </ion-item>
    </ion-list>
    <!-- Botón para enviar la solicitud de recuperación de contraseña -->
    <ion-button color="warning" expand="block" (click)="resetPassword()">Enviar Solicitud</ion-button>
  </div>
</ion-content>

<!-- Pie de página con botones de navegación adicionales -->
<ion-footer>
  <ion-toolbar>
    <div class="footer-buttons">
      <!-- Botón para navegar a la página de inicio de sesión -->
      <ion-button color="success" expand="block" fill="clear" routerLink="/login">Iniciar sesión</ion-button>
      <!-- Botón para navegar a la página de registro de nuevo usuario -->
      <ion-button color="secondary" expand="block" fill="clear" routerLink="/register">Registrar usuario</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>