<ion-backdrop visible="true" tappable="false"></ion-backdrop>

<!-- Animación de fondo para reconocimiento de voz -->
<div class="loader">
  <div class="face face1">
    <div class="circle"></div>
  </div>
  <div class="face face2">
    <div class="circle"></div>
  </div>
</div>
<div class="loader">
  <div class="face face1">
      <div class="circle"></div>
  </div>
  <div class="face face2">
      <div class="circle"></div>
  </div>
</div>
<img src="assets/alienY.svg" class="logo" />

<!-- Interfaz del reconocimiento de voz -->
<div class="voice-recognition-ui">
  <!-- Botón para iniciar la escucha -->
  <ion-button (click)="startListening()" color="warning" *ngIf="!isListening">
    <ion-icon name="mic-outline" slot="start"></ion-icon>
    Iniciar Escucha
  </ion-button>

  <!-- Botón para detener la escucha -->
  <ion-button (click)="stopListening()" color="warning" *ngIf="isListening">
    <ion-icon name="mic-off-outline" slot="start"></ion-icon>
    Detener Escucha
  </ion-button>

  <!-- Texto reconocido mostrado aquí -->
  <div class="transcript-area">
    <p color ="warning">{{ transcript}}</p>
  </div>

  <!-- Botón para enviar el texto reconocido, siempre visible -->
  <ion-button (click)="sendTranscript()" color="warning">
    Enviar
  </ion-button>
</div>
