ion-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.logo-container {
  margin-top: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background-color: var(--ion-color-success);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.login-container {
  width: 95%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.footer-buttons {
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}